.menu-img {
    max-width: 50px;
}

.layout-header {
    background-color: #423427;
}
.menu-header {
    color: #d0b566;
    font-size: 20px;
}
.phone-number {
    text-decoration: none;
    color: #d0b566;
}
.phone-number:hover {
    color: #007bff;
    font-size: 20px;
    text-decoration: underline;
}

.nav-item {
    margin-left: 10px;
}