.left-items {
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

.right-items {
    margin-left: 10px;
}

.right-items .nav-link {
    color: #000;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #f7f7f7;
    padding: 10px;
    border: 2px solid #999;
    border-radius: 10px;
}

.menu-img {
    width: auto;
    height: 80px;

}


.img-fluid {
    width: auto;
    height: 250px;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: block;
    margin: 0 auto
}

.body-description {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body-title {
    font-size: 100px;
    color: rgba(0, 0, 0, 0.71);
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #f7f7f7;
    padding: 10px;
    border: 2px solid #999;
    border-radius: 10px;
}

.body-title:hover {
    color: #007bff;
}

.card-title {
    font-family: "Arial Black", serif;
    background-color: white;
}

.card-text {
    font-style: italic;
    color: #666;

}
.card-img-top {
    height: 300px;
    width: auto;
    background-size: contain;
}

.card-ref {
    text-decoration: none;
    color: inherit;
    cursor: default;

}
.card-ref:hover {
    text-decoration: underline;
    cursor: pointer;

}

.card-title-better {
    text-align: center;
}
.navbar.navbar-expand-lg {
    background-color: #547616;
}
